"*":
  "atom-beautify":
    general:
      _analyticsUserId: "15690e67-5dab-4683-9d05-552f247c88a4"
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  core:
    disabledPackages: [
      "csslint"
    ]
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "b21d3b49-5e6c-434c-b980-4e2247ed8372"
  welcome:
    showOnStartup: false
