
/* STRUCTURE  
   1. NAVIGATION
   2. BANNER
   3. PROJECTS
   4. FOOTER */

/* 1. NAVIGATION */


#mainNavigation {
    margin-top: 4rem;
    z-index: 100;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,64,74, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    margin: 0rem 3.5rem;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.nav-link:active {
    font-size: 1.1rem;
}




/* END NAVIGATION */

/* 2. BANNER */

#home {
    z-index: 100;
}

.profile-info {
    /* height: 100vh; */
    margin: 2.5rem 0rem;
    text-align: center;
}

.profile-pic img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 1.5rem solid var(--primaryyellow);
}


.profile-txt {
    padding: 1.5rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: bold;

}

h2 {
    font-size: 2rem;
    padding-top: 1.2rem;
}

/* SCROLL INDICATOR */

.scroll-indicator {
    width: 2rem;
    margin: 0 auto;
    padding: 3rem 0rem 1rem 0rem;
    opacity: .5;
}

.scroll-indicator::before,
.scroll-indicator::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scroll-indicator::before {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: var(--darkshadeyellow);
    -webkit-animation: dot 1.5s infinite ease-in-out;
    animation: dot 1.5s infinite ease-in-out;
}

.scroll-indicator::after {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -.4rem;
    border-right: 2px solid var(--darkshadeyellow);
    border-bottom: 2px solid var(--darkshadeyellow);
    transform: rotate(45deg);
    -webkit-animation: arrow 1.5s infinite ease-in-out;
    animation: arrow 1.5s infinite ease-in-out;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    opacity: 0.75;
}

.scroll-indicator>div {
    display: block;
}

.scroll-indicator>div::before,
.scroll-indicator>div::after {
    content: "";
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid #fff;
    -webkit-animation: dot 3s infinite ease-in-out;
    animation: dot 3s infinite ease-in-out;
}


@-webkit-keyframes dot {
    0% {
        transform: scale(0.75);
        opacity: 0.25;
    }

    25% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.75);
        opacity: 0.25;
    }
}

@keyframes dot {
    0% {
        transform: scale(0.75);
        opacity: 0.25;
    }

    25% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.75);
        opacity: 0.25;
    }
}

@-webkit-keyframes arrow {
    0% {
        transform: scale(0.75) rotate(45deg);
        opacity: 0.25;
    }

    25% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(0.75) rotate(45deg);
        opacity: 0.25;
    }
}

@keyframes arrow {
    0% {
        transform: scale(0.75) rotate(45deg);
        opacity: 0.25;
    }

    25% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(0.75) rotate(45deg);
        opacity: 0.25;
    }
}

/* END BANNER */
/* 3. PROJECTS */
.projects-menu {
    margin: 8rem 0rem 1rem 0rem;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    box-shadow: 0px -3px 3.5px rgba(0, 0, 0, 0.2);
}

.projects-section {
    margin-bottom: 18rem;
}

.projects-section-b {
    display: none;
}

/* TAB MAIN */
.nav-pills {
    background-color: white;
    padding: .5rem 0rem;
    text-align: center;
    flex-flow: row nowrap;
}

.nav-pills .pill .nav-link {
    background-color: var(--primaryyellow);
}

.nav-pills .pill .nav-link:not(.active) {
    background-color: white;
}

.nav-pills .nav-item .nav-link {
    padding: 1rem;
    font-size: 1rem;
}

.nav-pills .nav-item .nav-link:hover {
    text-decoration: none;
}


/* END TAB MAIN */
/* VERTICAL TAB */

.v-nav {
    padding: 2rem 1rem;
    margin-right: .5rem;
    text-align: center;
    font-size: 1rem;
    color: black;

}

.v-nav-pills .nav-pills .nav-link {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.v-nav-pills .nav-pills .nav-link:not(.active) {
    background-color: none;
    text-decoration: none;
}






#v-pills-tabContent {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 3.5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
}


/* PROGRAM OF STUDY STYLES */
.program-info {
    text-align: center;
    padding-top: 3rem;
}

.program-info h3 {
    text-transform: capitalize;
}

.program-info h4 {
    text-transform: capitalize;
    padding: 1rem 0rem;
}

.program-info img {
    width: 20%;
}

.program-info p {
    margin-top: 5rem;
    padding: 1rem 6rem;
}

table {
    font-size: 1rem;
    width: 60%;
    text-align: left;
    margin: 3rem auto 6rem;
}

th {
    font-size: 1.12rem;
}

td {
    padding-top: 1rem;
}

/* TOOL TIP */


/* Tooltip text */
.tooltip-txt {
    visibility: hidden;
    width: 30%;
    background-color: var(--secondaryyellow);
    color: #000;
    text-align: justify;
    font-weight: normal;
    line-height: 1.8;
    font-size: .9rem;
    padding: 3rem;
    border-radius: 10px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip-xtraspce {
    width: 40%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fas:hover .tooltip-txt {
    visibility: visible;
}

.fa-info-circle {
    color: var(--complementaryblue);
    padding-left: .5rem;
}

.fa-info-circle:hover {
    cursor: pointer;
}


/* TOOP TIP END */
/* END PROGRAM OF STUDY STYLES */
/* GOALS OBJECTIVES ARTIFACTS */

.gos-tab-content {
    padding: 0rem 3rem;
}

.goal-area-intro {
    padding: 4rem;
    margin: 4rem;;
    background-color: var(--secondaryyellow);
}

.goal-description h3 {
    font-weight: bold;

}

.goal-description h4 {
    font-size: 1rem;
    padding-top: 1.5rem;
}

.goal-description{
    margin: 7.5rem 0rem;
}

/* END GOALS OBJECTIVES ARTIFACTS */
/* END VERTICAL TAB */

#project-pill-tabContent {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3/1fr);

}

.grid-items {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 4rem;

}

.grid-item {
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 300px;
    margin: 4%;
    text-align: center;
    transition: transform .1s ease;
}

.grid-item:hover {
    transform: scale(1.1);

}

/* PROJECT SHAPES */
.project-shape1 {
    border-radius: 50%;
    background-color: var(--accentlightyellow);
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    z-index: -1;
    left: 25%;
    margin-top: 5rem;
    /* opacity: .6; */
}

.project-shape2 {
    border-radius: 50%;
    background-color: var(--accentlightyellow);
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: -1;
    left: 60%;
    margin-top: 25rem;
    /* opacity: .6; */
}

.project-shape3 {
    border-radius: 50%;
    background-color: var(--primaryyellow);
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: -1;
}

.shape-a {
    left: 32.2%;
    margin-top: 41rem;
}

.shape-b {
    left: 43%;
    margin-top: 25rem;
}

.shape-c {
    left: 82%;
    margin-top: 5.5rem;
}

/* CARD STYLES */
.project-card {
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-title {
    padding: 1rem;
    text-transform: capitalize;
}

/* END PROJECTS */
/* FOOTERS */
.static-footer {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    background-color: var(--complementaryblue);
    text-align: center;
    font-size: .8rem;
    color: white;
}

.sticky-footer {
    background-color: var(--primaryyellow);
}

.sticky-footer .links {
    padding: 12rem 0rem;
    text-align: center;
}


.sticky-footer li {
    padding-bottom: 3rem;
    list-style-type: none;
}

.sticky-footer a {
    font-size: 1rem;
}

.links a:hover {
    color: white;
    text-decoration: none;
}


.form-content {
    padding: 4.5rem 8rem;
}

.contact-head {
    width: 100%;
}

.form-header {
    padding-bottom: 1rem;
}

.form-header p {
    font-size: .8rem;
}

.form-header i {
    color: #0e76a8;
    background-color: white;
}

.form-header .cto {
    display: inline;
    padding-left: 1rem;
    position: relative;
    bottom: .3rem;
    font-size: .8rem;
}

.contact-head h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: .5rem;
    text-align: left;
}

.hr-lg {
    border-top: 1px solid var(--complementaryblue);
}

.title-circle-foot {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondaryyellow);
    border-radius: 50%;
    position: relative;
    top: 1.7rem;
    left: 16rem;
}

.form-text {
    padding-bottom: 1rem;
}

.form-control {
    font-size: .8rem;
    color: lightgray;
    padding: 1rem;
}


/* END FOOTERS */
/* MEDIA QUERIES */


@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .grid-item {
        width: 300px;
        height: 250px;
        margin: 8% 3%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .grid-item {
        width: 250px;
        height: 200px;
        margin: 8% 3%;
    }
}

@media screen and (max-width: 992px) {

    #mainNavigation {
        margin: 1rem;

    }

    .navbar-nav {
        background-color: white;
    }

    .navbar-collapse .navbar-nav .nav-item {
        text-align: center;
        padding-bottom: 2rem;
    }

    .nav-item:active {
        background-color: var(--secondaryyellow);
    }

    .nav-pills {
        padding: 1rem 0rem;
    }

    .nav-pills .nav-item .nav-link {
        padding: .5rem;
        margin: -1rem;
        font-size: .9rem;
    }

    .v-nav {
        font-size: .9rem;
    }

    .v-pane .responsive-img {
        width: 40%;
    }

}

@media screen and (min-width: 675px) and (max-width: 992px) {
    .grid-items {
        margin-top: 1rem;
    }

    .grid-item {
        width: 200px;
        height: 180px;
        margin: 10% 2%;
    }

    .nav-pills {
        padding: 1.5rem 0rem;

    }

    .v-pane .responsive-img {
        width: 30%;
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .projects-section {
        display: none;
    }

    .projects-section-b {
        display: block;
    }

    .view-note {
        text-align: center;
        font-size: 1.5rem;
        padding: 5rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media screen and (min-width: 450px) and (max-width: 675px) {
    .profile-pic img {
        width: 250px;
        border: 1rem solid var(--primaryyellow);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .scroll-indicator {
        display: none;
    }


}

@media screen and (max-width: 450px) {
    .profile-info {
        height: 25%;
        margin-top: 1rem;

    }

    .profile-pic img {
        width: 175px;
        border: 1rem solid var(--primaryyellow);
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.3rem;
    }
}