*{
  margin: 0;
  padding: 0;
}
html{
  font-family: sans-serif;
}
p, li{
  font-family: serif;
}

.headline{
  width: auto;
  margin: 0 auto;
  text-align: center;
}
#profilepic{
  border: 5px solid black;
  border-radius: 100%;
  width: 13%;
  height: auto;
  margin-top: 15px;
}
