/* HOME STYLES */
/* Site Banner Area */
.site-banner .banner-area {
  background: url('./marble-background.jpg') no-repeat;
  /* border-bottom: 2px solid #32404A; */
  background-size: cover;
  width: 102%;
  height: 100vh;
  position: relative;
  background: #000;
  /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(50, 64, 74, 0.1), rgba(50, 64, 74, 0.1)), url('./marble-background.jpg');
  background: linear-gradient(rgba(50, 64, 74, 0.1), rgba(50, 64, 74, 0.1)), url('./marble-background.jpg');
  /* The least supported option. */
  background-repeat: no-repeat;
  background-size: cover;

}



.site-banner .banner-area .author {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img {
  max-width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #5C788A;
  margin: auto;
  background: url('./download.png') no-repeat;
  background-size: contain;
  position: relative;
  top: -2.5rem;
}
/* OLD AUTHOR TEXT */
.author-text {
  position: relative;
  top: -2rem;
  color: black;

}


/* AUTHOR TEXT ANIMATION */











/* A/UTHOR TEXT ANIMATION */
#toggle-menu{
  display: none;
}

#home {
  position: relative;
  left: 14.2rem;
}

@media only screen and (min-width: 751px) and (max-width: 1040px) {
  #home {
    position: relative;
    left: 9rem;
  }

  .social-media {
    margin: 0 auto;
    padding-top: 0rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 750px) {
  #toggle-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    top: 1rem;
    text-align: right;
  }

#navbarSupportedContent1{
  background: white;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#navbarSupportedContent1 .navbar-nav .nav-link{
padding-top: 1rem;
}


  #home {
    position: relative;
    left: 0rem;
   
  }

  .site-banner .banner-area {
    border-bottom: none;
    height: 35rem;
  }

  .site-banner .banner-area .author .author-img {
    max-width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #5C788A;
    margin: auto;
    background: url('./download.png') no-repeat;
    background-size: contain;
    position: relative;
    top: .5rem;
  }

  #author-txt {
    position: relative;
    top: .5rem;
    width: 100%;
    color: black;
    font-size: 2rem;

  }

  .card {
    margin-bottom: 1rem;
  }
}

/* main banner end */
#about-me{
  width: 102%;
}
.about-me-img {
  width: 100%;
  height: auto;
  margin-left: 2rem;
}

.about-me-title {
  padding: 4rem 0rem 1rem;
  margin-left: 2rem;
}

.degree-text {
  margin-left: 3rem;
  text-align: center;
}

.degree-head {
  padding: 1.8rem 0rem .5rem
}

.degree-title {
  padding: 1.5rem 0rem 0rem;
  font-weight: 600;
}

.degree-head1 {
  padding-bottom: .5rem;
  font-size: 1rem;
}

.degree-head2, .degree-date {
  position: relative;
  top: -10px;
  font-size: 13px;
  font-weight: 300;
}

.degree-school-logo {
  width: 115px;
  height: 115px;
}

.degree-program h5 {
  position: relative;
  top: -4px;
  padding-left: 3rem;
  text-decoration: underline;
}

/* background */
#background-area, .projects-area {
  padding: 0rem 2rem 2rem;
}

#background-area h5 {
  text-decoration: underline;
}

/* Progress Bars */
.skill .bars p, .skill .bars span {
  line-height: 10px;
}

.progress .progress-bar {
  background-color: black;
}

.projects-area {
  background: white;
}

.projects-area a, .projects-area a:hover {
  color: black;
  text-decoration: none;
}

.card {
  transition: transform .5s ease;
}

.card:hover {
  transform: scale(1.1);
  background-color: #f8f9fa;
}

/* FOOTER */
/* Footer*/
.static-footer {
  width: 100%;
  height: 3rem;
  padding-top: 1rem;
  background-color: black;
  font-weight: 400;
  font-size: .9rem;
  text-align: center;
}

.sticky-container {
  position: sticky;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: : center;
  background-color: #704E40;
  color: black;
}

/* #contact-footer, #info-footer{
  position: relative;
  padding-left: 14.1rem;
} */
}

@media only screen and (min-width: 320px) and (max-width: 750px) {
  #info-footer, #contact-footer {
    position: relative;
    padding-left: 0;
  }
}

form {
  margin: .5rem 0rem 3.5rem;
}

.form-header {
  padding: 2.5rem 1rem .5rem;
}

#contact-footer form .row .col input[type="text"] #contact-footer form .row .col textarea {
  border-radius: 0;
  border: none;
  border-bottom 1px, solid, #000;
  padding: 1.5rem .5rem;
}

.form-subject {
  margin-top: 1rem;
}

#contact-footer button {
  width: 100%;
}

#contact-footer button:hover {
  width: 100%;
  background-color: black;
  color: white;
  border-color: black;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
  .about-me-img, .background-area h5 {
    display: none;
  }
}