/* HOME STYLES */
/* Site Banner Area */
.site-banner .banner-area {
  background: url('./marble.jpg') no-repeat;
  border-bottom: 2px solid #32404A;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.site-banner .banner-area .author {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img {
  max-width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #5C788A;
  margin: auto;
  background: url('./download.png') no-repeat;
  background-size: contain;
  position: relative;
  top: -2.5rem;
}

.author-text {
  position: relative;
  top: -2rem;
  color: black;
}

/* .author-text-color {
  background-color: white;
  margin-top: 4.7rem;
  opacity: .55;
  width: 700px;
  height: 150px;
  position: relative;
  bottom: 7rem;
  z-index: -1;
} */
.toggle-button {
  display: none;
}

#home {
  position: relative;
  left: 14.1rem;
}

@media only screen and (min-width: 320px) and (max-width: 750px){
  .toggle-button {
    display: inline;
    width: 100%;
    background: none;
    color: black;
    position: relative;
    top: 1rem;
    right: 1.5rem;
    text-align: right;
    border: 1px solid #5C788A;
  }

  #home {
    position: relative;
    left: 0rem;
  }
.site-banner .banner-area{
  border-bottom: none;
}
  .site-banner .banner-area .author .author-img {
    max-width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #5C788A;
    margin: auto;
    background: url('./download.png') no-repeat;
    background-size: contain;
    position: relative;
    top: 2.5rem;
  }
  #author-txt{
    position: relative;
    top: 3.5rem;
    width: 100%;
    color: black;
    font-size: 2rem;
  }
  .card{
  margin-bottom: 1rem;
  }
}



/* site main end */
.about-me-img {
  width: 100%;
  height: auto;
  border-top: 2px solid #32404A;
  border-bottom: 2px solid #32404A;
  margin-left: 2rem;
}

.about-me-title {
  padding: 4rem 0rem 1rem;
  margin-left: 2rem;
}

.degree-text {
  margin-left: 3rem;
  text-align: center;
}

.degree-head {
  padding: 1.8rem 0rem .5rem
}

.degree-title {
  padding: 1.5rem 0rem 0rem;
  font-weight: 600;
}

.degree-head1 {
  padding-bottom: .5rem;
  font-size: 1rem;
}

.degree-head2, .degree-date {
  position: relative;
  top: -10px;
  font-size: 13px;
  font-weight: 300;
}

.degree-school-logo {
  width: 115px;
  height: 115px;
}

.degree-program h5 {
  position: relative;
  top: -4px;
  padding-left: 3rem;
  text-decoration: underline;
}

/* background */
#background-area, .projects-area {
  padding: 0rem 2rem 2rem;
}

#background-area h5 {
  text-decoration: underline;
}

/* Progress Bars */
.skill .bars p, .skill .bars span {
  line-height: 10px;
}

.progress .progress-bar {
  background-color: black;
}

.projects-area {
  background: white;
}

.projects-area a, .projects-area a:hover {
  color: black;
  text-decoration: none;
}

.card {
  transition: transform .5s ease;
}

.card:hover {
  transform: scale(1.1);
  background-color: #f8f9fa;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
  .about-me-img, .background-area h5 {
    display: none;
  }
}
