body{
  height: 100%;
}
h1{
 text-align: center;
}

 .col-6, .col-12{
    border: 1px solid black;
    padding: 1rem;

}
#colors, #typography{
text-align: center;
position:relative;
top: 2rem;
}
h2{
  margin-top: 3rem;
}

h3{
  padding: 1rem;
}

/* colors */
#circle{
margin: 2px;
height: 75px;
width: 75px;
border-radius: 50%;
}

#circle p{
  position: relative;
  top: 25px;
  font-family: sans-serif;
}

/* Blues */
.blue_00{
  background-color: #6e84b3;
}
.blue_01{
  background-color: #465473;
}
.blue_02{
  background-color: #9CBBFF;
}
.blue_03{
  background-color: #71A4C9;
}
/* Pinks */
.pink_00{
    background-color: #a53953;
}
.pink_01{
    background-color: #F29DB1;
}
.pink_02{
    background-color: #B57584;
}
.pink_03{
    background-color: #73283A;
}

/* Greens */
.green_00{
    background-color: #314421;
}
.green_01{
  background-color: #819173;
}

.green_02{
  background-color: #96d166;
}

.green_03{
  background-color: #699147;
}
/* Purples */
.purple_00{
    background-color: #532238;
}
.purple_01{
    background-color: #BA9C97;
}
.purple_02{
    background-color: #A1426D;
}
.purple_03{
    background-color: #87392A;
}

/* Typography */

.font_info{

  margin: 3rem;
}
/* Montserrat Font  for headlines*/
.MontserratFont h3, p{
  font-family: 'Montserrat', sans-serif;
}
.font_00 .fontlight{
  font-weight: 200;
}
.font_00 .fontreg{
  font-weight: 400;
}
.font_00 .fontbold{
  font-weight: 800;
}

/* Montaga Font for content */
.MontagaFont{
  font-family: 'Montaga', serif;
}
.font_01 .fontlight{
  font-weight: 200;
}
.font_01 .fontreg{
  font-weight: 400;
}
.font_01 .fontbold{
  font-weight: 800;
}
