* {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

/* Header and Navigation */
html {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Montserrat', sans-serif;

  background-repeat: no-repeat;
  background-size: cover;
}

body{
  background-image: url("GreenDotBkgrnd.png");
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}

header img{
  width: 50%;
}



.navbar-brand {
  font-size: 2rem;
  font-family: "Ubuntu";
  padding-left: 2rem;
}

/* Banner Section */

#main-banner{
  margin-top: 2rem;
  text-align: center;

}
.attention{
  position: relative;
  height: 25rem;
  background-color: white;
  margin: 0 auto;
justify-content: center;
align-items: center;
}


h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 3rem;
  padding-bottom: 3.25rem;

}

.container-fluid {
  padding: 0% 15% 3%;
  margin-top: 6rem;
}

.row img {
  transform: rotate(20deg);
  width: 60%;
  height: auto;
position: absolute;
  left: 8rem;
}

#features {
  text-align: center;
  padding: 4% 15% ;
  position: relative

}

.row {
  height: auto;

}

.column1 {
  text-align: center;
}


h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

#features i {
  color: #ef8172;
  font-size: 3rem;
  padding: 5rem 0 2rem;
}

#features i:hover {
  color: #ff4c68;
}

#features p {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials, #footer, #pricing {
  background-color: #a12ef2;
  text-align: center;
  z-index: 1;
}

.testimonial-text,.cta-txt{
  color: white;
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 1.25rem;
}

.press-img {
  width: 10%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing, #cta, .cta-txt {
  padding: 7% 15%;
  text-align: center;
}

.pricing-head-txt {
  padding-bottom: 7%;
}



#footer{
text-align: center;

}

#footer p{
  padding-top: 5rem;
  padding-bottom: 10rems
}


/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */



/* SIGNUP FORM */ /* SIGNUP FORM *//* SIGNUP FORM *//* SIGNUP FORM *//* SIGNUP FORM *//* SIGNUP FORM *//* SIGNUP FORM *//* SIGNUP FORM *//* SIGNUP FORM */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
